<div class="articles">
    <h1 id="itCrear">Crear:</h1>
    <div class="art1">
        <button id="btnCreate1" type="button">Sintetizadores</button>
        <button id="btnCreate2" type="button">Empresa</button>
        <button id="btnCreate3" type="button">Musica</button>
    </div>
    <div class="art2">
        <button id="btnCreate4" type="button">Diseño Sonoro</button>
        <button id="btnCreate5" type="button">Historia</button>
        <button id="btnCreate6" type="button">Sonido</button>
    </div>
</div>