<div class="contingut">
    <div class="letras">
        <button ID="titolBtn">Volver</button>
        <h3 ID="txtUser">Nombre del sintetizador:</h3>
        <h3 ID="txtPass">Empresa:</h3>
        <h3 ID="txtNewPass">Imagen portada:</h3>
    </div>
    <div class="inputsRegister">
        <input ID="inUser" type="text" placeholder="usuario">
        <br>
        <input ID="inPass" type="text" placeholder="empresa">
        <br>
        <input type="file" id="imagen" name="imagen" accept="image/*">
        <br>
        <button ID="btnRegister" type="button" onclick="">Crear</button>
    </div>
</div>