
.headerDalt {
    color: #FFF7D1;
    background-color: #1F1F1F;
}

.bodyWeb {
    margin: 0;
    padding: 0;
    color: #FFF7D1;
    background-color: #1F1F1F;
}

#h1 {
    color: #FFF7D1;
    display: flex;

}

.titol {
    margin-left: 15px;
}

#registrarse {
    color: #FFF7D1;
    background-color: #1F1F1F;
    width: 120px;
    height: 60px;
    margin-left: 1075px;
    margin-top: 30px;
    padding-block:  10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15%;
    border: 3px solid #FFF7D1;
}

#iniciarSesion {
    color: #FFF7D1;
    background-color: #1F1F1F;
    width: 120px;
    height: 60px;
    margin-left: 10px;
    margin-top: 30px;
    padding-block:  10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15%;
    border: 3px solid #FFF7D1;
}

.divBuscador {
    display:flex;
    max-width: 850px;
    border: 3px solid #FFF7D1;
    margin-left: 350px;
    margin-top: 40px;
    height: 25px;
    border-radius: 20px;
}

.divImg {
    margin-left: 0px;
    width: 75px;
    height: 25px;
    border-start-start-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    background: #FFF7D1;
}

#imageBuscador {
    width: 25px;
    height: 20px;
    margin-top: 2.5px;
    margin-left: 25px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    /*background: linear-gradient(to right, #1F1F1F 90%, #FFF7D1);*/
    filter: grayscale(10%) sepia(10%) saturate(80%) hue-rotate(40deg);
}

.divInput{
    margin-top: 0px;
    margin-left: 0px;
    width: 630px; 
    height: 25px;
}

#buscador {
    background: radial-gradient(circle at center, rgba(255, 247, 209, 0.45), #1F1F1F);
    color: rgba(255, 247, 209, 0.8);
    width: 624px;
    height: 21px;
}


.divBuscar {
    border-left: 3px solid #FFF7D1;
    margin-left: 0px;
    height: 25px;
    width: 140px;
    text-align: center;
}

#buscarButon{
    background: #1F1F1F;
    color:#FFF7D1;
    border: 1px solid #FFF7D1;
    height: 25px;
    padding: 3px;
    width: 143px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}