<header class="headerDalt">
    <h1 class="titol">req</h1>
    <div id="h1">
        <button id="registrarse" class="bruno-ace-regular" title="Regístrate"
            routerLink="/dashboard/registro">Registrarse</button>
        <button id="iniciarSesion" class="bruno-ace-regular" title="Iniciar sesión" onClick="">Iniciar
            Sesión</button>
    </div>
    <div class="divBuscador">
        <div class="divImg">
            <img ID="imageBuscador" src="./assets/buscar.png">
        </div>
        <div class="divInput">
            <input type="text" id="buscador" name="buscar" placeholder="buscar..." title="Buscar" onClick="">
        </div>
        <div class="divBuscar">
            <button id="buscarButon" title="Boton de buscar" onClick="">Buscar</button>
        </div>
    </div>
</header>