<header class="headerDalt">
    <div id="h1">
        <h1 class="titol">SINTEDIA</h1>
        <button id="registrarse" class="bruno-ace-regular" title="Regístrate"> <a
            routerLink="/register">Registrarse</a></button>
        <button id="iniciarSesion" class="bruno-ace-regular" title="Iniciar sesión"><a routerLink="/iniciarSesion">Iniciar
            Sesión</a></button>
    </div>
    <div class="divBuscador">
        <div class="divImg">
            <img ID="imageBuscador" src="./assets/buscar.png">
        </div>
        <div class="divInput">
            <input type="text" id="buscador" name="buscar" placeholder="buscar..." title="Buscar" onClick="">
        </div>
        <div class="divBuscar">
            <button id="buscarButon" title="Boton de buscar" onClick="">Buscar</button>
        </div>
    </div>
</header>