<div class="contingut">
    <div class="letras">
        <h2 ID="titolR">Acerca de Sintedia:</h2>
        <p ID="txt1">&middot; Sintedia es una enciclopedia web de contenido libre, especializado en el mundo del diseño
            sonoro, especialmente en el mundo de los sintetizadores y su historia. Sintedia, depende única y
            exclusivamente de sus usuarios, quiénes tienen total libertad para crear y modificar los artículos.</p>
        <h3 ID="titol2">Pilares de Sintedia:</h3>
        <p ID="txt2">&middot; Sintedia es una enciclopedia, y todos los esfuerzos deben ir en ese sentido.</p>
        <p ID="txt3">&middot; Todos los artículos deben ser neutrales.</p>
        <p ID="txt4">&middot; El objetivo es construir una enciclopedia de contenido libre, no se admite material con
            derechos de autos sin el permiso correspondiente.</p>
        <p ID="txt5">&middot; Sintedia sigue la base del respeto mutuo, donde se lleguen a acuerdos cuando no se
            compartan puntos de vista.</p>
        <p ID="txt6">&middot; Hay que ser valiente para editar páginas, pero usando el sentido común.</p>
        <h3 ID="titol3">Normas sobre la calidad:</h3>
        <p ID="txt7">&middot; Sintedia se rige por unas normas de calidad que no son debatibles, estas normas son:</p>
        <p ID="txt8">&middot; La información nunca debe procedes en última instancia de los propios editores.</p>
        <p ID="txt9">&middot; Los artículos deben incluir referéncias a las fuentes de las que proviene la información.
        </p>
    </div>
</div>