

.articleText {
    overflow-y:auto; 
    max-height: 4600px;
    margin-top: 5px;
    margin-left: px;
    width: 1255px;
    height: 694px;
    border-color: 2px solid #FFF7D1;
    background-color: #FFF7D1;
}

#prova {
    color: black;
}

#titolR {
    color:black;
    border-color: 3px solid #FFF7D1;
    margin-top: 40px;
    margin-left: 200px;
}

#txt1 {
    margin-top: 25px;
    color: black;
    margin-left: 250px;
    margin-right: 175px;
}
