

.articleText {
    overflow-y: auto;
    max-height: 4600px;
    margin-top: 5px;
    margin-left: 0px; 
    width: 1255px;
    height: 694px;
    border: 2px solid #FFF7D1; 
    background-color: #FFF7D1;
}


#prova {
    width: 100px;
    background-color: #FFF7D1;
}

#titolR {
    color:black;
    margin-top: 40px;
    margin-left: 200px;
}

#txt1 {
    margin-top: 25px;
    color: black;
    margin-left: 250px;
    margin-right: 175px;
}
