
.articles {
    height: 100%;
    width: 1265px;
}

.art1{
    display: flex;
    border: 3px solid #FFF7D1;
    margin-left: 75px;
    width: 1050px;
    height: 110px;
}

#itEmpresa {
    margin-left: 75px;
    margin-top: 30px;
}

#im1 {
    margin-top: 0px;
    margin-left: 0px;
    width: 175px;
    height: 110px;
}

.textArticle {
    background: radial-gradient(circle at center, rgba(255, 247, 209, 0.2), #1F1F1F);
    border-left: 3px solid #FFF7D1;
    width: 872px;
    height: 110px;
}

#titolArt1 {
    margin-top: 10px;
    margin-left: 15px;
    width: 870px;
    height: 32px;
    color: #FFF7D1;
}

#iniciArticle {
    color: #FFF7D1;
    margin-top: 0px;
    margin-left: 15px;
    width: 870px;
    height: 50px;
}