.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con igual ancho */
    gap: 20px; /* Espacio entre los elementos, ajusta según tu preferencia */
    width: 100%; /* Ajusta el ancho total del contenedor según sea necesario */
    margin-top: 75px;
    margin-left: 75px;
    margin-bottom: 50px; /* Ajusta este valor según el espacio que necesites */
}

.art1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #FFF7D1;
    width: 200px;
    height: 200px;
    justify-content: space-between;
}

#im1 {
    width: 200px;
    height: 140px;
}

#titolArt1 {
    width: 100%;
    height: 22px;
    color: #FFF7D1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
