<div class="contingut">
    <div class="letras">
        <h2 ID="titolR">REGISTRARSE:</h2>
        <h3 ID="txtUser">Usuario:</h3>
        <h3 ID="txtMail">mail:</h3>
        <h3 ID="txtPass">Contraseña:</h3>
        <h3 ID="txtNewPass">Repite la contraseña:</h3>
    </div>
    <form (ngSubmit)="register()">
        <div class="inputsRegister">
            <input id="inUser" name="nom" type="text" [(ngModel)]="usuario.nom" placeholder="usuario" required>
            <br>
            <input id="inMail" name="mail" type="email" [(ngModel)]="usuario.email" placeholder="mail" required>
            <br>
            <input id="inPass" name="pwd" type="password" [(ngModel)]="usuario.pwd" placeholder="PASSWORD" required>
            <br>
            <input id="inPass2" name="pwd2" type="password" [(ngModel)]="pwd2" placeholder="PASSWORD" required>
            <br>
            <button id="btnRegister" type="submit" >Registrarse</button>
        </div>
    </form>
</div>