
.headerDalt {
    color: #FFF7D1;
    background-color: #1F1F1F;
}

.registroClass {
    margin: 0;
    padding: 0;
    color: #FFF7D1;
    background-color: #1F1F1F;
}

h1 {
    color: #FFF7D1;
    width: 100%;
}
.titol {
    margin-left: 15px;
}

.rayaInici {
    border-bottom: 3px solid #FFF7D1;
    height: 90px;
    background-color: #1F1F1F;
    display: flex;
    width: 100%;
    /*position: relative;*/
}


#h1 {
    display:flex;
    margin-top: -60px;
}


.contingut {
    display: flex;
    width: 1265px;
    height: 100%;
    background-color: #2D2B2D;
}

.letras {
    width: 50%;
    height: 75%;
}

.inputsRegister {
    margin-top: 44px;
    width: 50%;
    height: 75%;
}



.footer {
    margin-top: 0px;
    height: 40px;
    background-color: #1F1F1F;
    color: #FFF7D1;
    display:flexbox;
    border-top:3px solid #FFF7D1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btnPri{
    margin-top: 10px;
    margin-left: 90px;

}

.btnAce {
    margin-top: 10px;
    margin-left: 300px;
}

.btnCod{
    margin-top: 10px;
    margin-left:  300px;
}

.logoFotter{
    border-left: 3px solid #FFF7D1;
    width: 100px;
    height: 50px;
    margin-left: 1230px;
}

.lofoFot {
    border-left: 3px solid #FFF7D1;
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

#titolR {
    color: #FFF7D1;
    /*text-decoration: underline;*/
    margin-top: 80px;
    margin-left: 100px;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    background-image: linear-gradient(to right, #FFF7D1, #2D2B2D); /* Gradiente lineal */
    background-position: 0 100%; /* Ubicación del gradiente */
    background-repeat: repeat-x; /* Repetir solo horizontalmente */
    background-size: auto 1px; /* Tamaño de la línea degradada */
    padding-bottom: 1px; /* Espacio para la línea */
    line-height: 1;
}

#txtUser {
    color: #FFF7D1;
    margin-left: 450px;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    background-image: linear-gradient(to right, #FFF7D1, #2D2B2D); /* Gradiente lineal */
    background-position: 0 100%; /* Ubicación del gradiente */
    background-repeat: repeat-x; /* Repetir solo horizontalmente */
    background-size: auto 1px; /* Tamaño de la línea degradada */
    padding-bottom: 1px; /* Espacio para la línea */
    line-height: 1;
}

#txtPass {
    color: #FFF7D1;
    margin-left: 450px;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    background-image: linear-gradient(to right, #FFF7D1, #2D2B2D); /* Gradiente lineal */
    background-position: 0 100%; /* Ubicación del gradiente */
    background-repeat: repeat-x; /* Repetir solo horizontalmente */
    background-size: auto 1px; /* Tamaño de la línea degradada */
    padding-bottom: 1px; /* Espacio para la línea */
    line-height: 1;
}

#txtNewPass {
    color: #FFF7D1;
    margin-left: 450px;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    background-image: linear-gradient(to right, #FFF7D1, #2D2B2D); /* Gradiente lineal */
    background-position: 0 100%; /* Ubicación del gradiente */
    background-repeat: repeat-x; /* Repetir solo horizontalmente */
    background-size: auto 1px; /* Tamaño de la línea degradada */
    padding-bottom: 1px; /* Espacio para la línea */
    line-height: 1;
}

#txtMail {
    color: #FFF7D1;
    margin-left: 450px;
    text-decoration: none; /* Elimina el subrayado predeterminado */
    background-image: linear-gradient(to right, #FFF7D1, #2D2B2D); /* Gradiente lineal */
    background-position: 0 100%; /* Ubicación del gradiente */
    background-repeat: repeat-x; /* Repetir solo horizontalmente */
    background-size: auto 1px; /* Tamaño de la línea degradada */
    padding-bottom: 1px; /* Espacio para la línea */
    line-height: 1;
}

#inUser {
    color: #FFF7D1;
    margin-top: 82px;
    margin-left: 50px;
    width: 400px;
    background-color: #2D2B2D;
    border: 1px solid #FFF7D1;
    border-radius: 20px;
}

#inPass {
    color: #FFF7D1;
    margin-top: 18px;
    width: 400px;
    margin-left: 50px;
    background-color: #2D2B2D;
    border: 1px solid #FFF7D1;
    border-radius: 20px;
}

#inPass2 {
    color: #FFF7D1;
    margin-top: 20px;
    width: 400px;
    margin-left: 50px;
    background-color: #2D2B2D;
    border: 1px solid #FFF7D1;
    border-radius: 20px;
}

#inMail {
    color: #FFF7D1;
    margin-top: 21px;
    width: 400px;
    margin-left: 50px;
    background-color: #2D2B2D;
    border: 1px solid #FFF7D1;
    border-radius: 20px;
}

#btnRegister {
    color: #1F1F1F;
    margin-top: 45px;
    width: 200px;
    height: 80px;
    margin-left: 150px;
    background-color: #FFF7D1;
    border-radius: 20px;
}