    <!--<script src="app.component.ts"></script> -->
    <footer>
        <div class="footer">
            <button type="button" class="btnPri" onClick="">Política de privacidad</button>
            <button type="button" class="btnAce" onClick="">Acerca de Sintedia</button>
            <button type="button" class="btnCod" onClick="">Código de conducta</button>
            <!-- 
            <div class="logoFotter">
                <img class="logoFot" src="">
            </div> -->
            <img class="logoFot" src="" onClick="">
        </div>
    </footer>