<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
</head>
<body class="bodyWeb">
    <header class="headerDalt">@if(title){
        <h1 class="titol">{{title}}</h1>
        <div id="h1">
            <button id="registrarse" class="bruno-ace-regular" title="Regístrate" onClick="">Registrarse</button>
            <button id="iniciarSesion" class="bruno-ace-regular" title="Iniciar sesión" onClick="">Iniciar Sesión</button>
        </div>
        <div class ="divBuscador">
            <div class="divImg">
                <img ID="imageBuscador" src="">
            </div>
            <div class="divInput">
                <input type="text" id="buscador" name="buscar" placeholder="buscar..." title="Buscar" onClick="">
            </div>
            <div class = "divBuscar">
                <button id="buscarButon" title="Boton de buscar" onClick="">Buscar</button>
            </div>
        </div>
    }</header>
    <div class="filtBusc">
        <!--<hr id = "barra1"> -->
        <div class="barra1">
            <button id="filtrado" title="Filtro" onClick="">Filtrado</button>
        </div>
        <!--<div id = "vert">
            <button id="filtrado">Filtrado</button>
        </div>-->
        <!--<hr id = "barra_vertical">-->
        <div class="filBusc2">
            <button id="configuracion" title="Configuración de usuario" onClick="">Configuración</button>
        </div>
        <!--<hr id ="barra2"> -->
    </div>
    <div class="contingut">
        <div class="menuLateral">
            <ul class="">
                <div class="">
                    <h2 class="menu_item" (click)="toggleSubmenu($event)">Menu
                        <ul class="submenu" ngIf="submenuOpen" onClick="">
                            <li id="sintes" onClick=""><a href="#">Sintetizadores</a></li>
                            <li onClick=""><a href="#">Empresas</a></li>
                            <li onClick=""><a href="#">Música</a></li>
                            <li onClick=""><a href="#">Diseño Sonoro</a></li>
                            <li onClick=""><a href="#">Historia</a></li>
                        </ul>
                    </h2>
                    <li class="menu-item" onClick=""><a href="pagina-1.component.html">Listas</a></li>
                    <li class="menu-item" (click)="toggleSubmenu($event)">Crear</li>
                    <li class="menu-item" (click)="toggleSubmenu($event)">Sonidos</li>
                </div>
            </ul>
        </div>
        <div class="articles">
            <div class="art1">

            </div>
        </div>
    </div>    

    <!--<script src="app.component.ts"></script> -->
    <footer>
        <div class="footer">
            <button type="button" class = "btnPri" onClick="">Política de privacidad</button>
            <button type="button" class = "btnAce" onClick="">Acerca de Sintedia</button>
            <button type="button" class = "btnCod" onClick="">Código de conducta</button>
            <!-- 
            <div class="logoFotter">
                <img class="logoFot" src="">
            </div> -->
            <img class="logoFot" src="" onClick="">
        </div>
    </footer>
</body>
<!--<div [ngClass]="condition ? 'green' : 'red'">Hola</div>-->
<router-outlet></router-outlet>
