<body class="bodyWeb">

    <app-header />
    
    <div class="filtBusc">
        <div class="barra1">
            <button id="filtrado" title="Filtro">Filtrado</button>
        </div>
        <div class="filBusc2">
            <button id="configuracion" title="Configuración de usuario" (click)="conf()">Configuración</button>
        </div>
    </div>
    <div class="contingut">
        <div class="menuLateral">
            <ul class="">
                <div class="menuGran">
                    <h2 class="menu_item" > <a routerLink=""  ><i class="fa-solid fa-house"></i>Menu 
                        <ul class="submenu">
                            <li id="sintes"><a routerLink="/sintetizadores1">Sintetizadores</a></li>
                            <li id="empresa"><a routerLink="/empreses1">Empresas</a></li>
                            <li id="musica"><a >Música</a></li>
                            <li id="diseny"><a >Diseño Sonoro</a></li>
                            <li id="historia"><a >Historia</a></li>
                        </ul>
                    </a></h2>
                    <h2 class="menu-item"><a routerLink="listas1">Listas</a></h2>
                    <h2 class="menu-item"> <a routerLink="/crear1">Crear</a></h2>
                    <h2 class="menu-item"> <a routerLink="/sonidos">Sonidos</a></h2>
                </div>
            </ul>
        </div>

        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <app-footer></app-footer>
</body>