h1 {
    color: #FFF7D1;
}
.destacar {
    color: #ff3355;
}

body {
    color: #ffffff;
    background-color: #1F1F1F;
}

#h1 {
    display:flex;
    margin-top: -60px;
}

#boton1 {
    color: #FFF7D1;
    background-color: #1F1F1F;
    margin-left: 1275px;
    padding-block:  10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15%;
    border: 3px solid #FFF7D1;
}

#boton2 {
    color: #FFF7D1;
    background-color: #1F1F1F;
    margin-left: 10px;
    padding-block:  10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15%;
    border: 3px solid #FFF7D1;
}

#columna {
    border: 3px solid #FFF7D1;
}

#buscador {
    background: linear-gradient(to right, #1F1F1F, #858585, 80%, #1F1F1F);
    border: 3px, solid #ffffff;
    border-radius: 15%;
    max-width: 800px; /* Establece el ancho máximo del div */
    margin-top: 100px;
    margin: 0 auto; /* Centra el div horizontalmente */
    padding: 1px;
}

#dos{
    margin-top: 20px;
    padding-right: 40%;
}

.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style:normal;
}

.hind-guntur-regular {
    font-family: "Hind Guntur", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.columna ul {
    padding: 0;
    list-style-type: none;
}

.columna ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid black; 
}

.columna ul li:last-child {
    border-bottom: none; 
}

.submenu {
    display: none; 
}