
.scrollview1 {
    overflow-y:auto; 
    max-height: 4600px;
    background: radial-gradient(circle at center, rgba(36, 35, 33, 0.692), #1F1F1F);
    width: 100%;
    height: 675px;
}



.filtBusc {
    border-top: 3px solid #FFF7D1;
    border-bottom: 3px solid #FFF7D1;
    height: 70px;
    width: 100%;
    color: #FFF7D1;
    background-color: #1F1F1F;
    display: flex;
    /*position: relative;*/
}

.filBusc2 {
    width: 100%;
    height: 68px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.barra1 {
    width: 100%;
    height: 68px;
    margin-top: 0px;
    margin-left: 1160px;
    margin-right: 0px;
}

#filtrado {
    color: #FFF7D1;
    border-left: 3px solid #FFF7D1;
    border-right: 3px solid #FFF7D1;
    border-bottom: 1px solid #FFF7D1;
    border-top: 1px solid #FFF7D1;
    background-color: #1F1F1F;
    padding-left: 120px;
    padding-right: 150px;
    padding: 26px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 71px;
}

#configuracion {
    color: #FFF7D1;
    background-color: #1F1F1F;
    border-bottom: 1px solid #FFF7D1;
    border-top: 1px solid #FFF7D1;
    border-left: 3px solid #1F1F1F;
    padding-left: 20px;
    padding-right: 150px;
    padding: 26px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    height: 70px;
}

#h1 {
    display:flex;
    margin-top: -60px;
}

#buscar {
    border: 3px, solid #ffffff;
    margin-top: 0px;
}

#dos{
    margin-top: 20px;
    padding-right: 40%;
}


/*
#vert {
    border: 3px solid #FFF7D1;
    padding-block:  10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
}*/

#barra_vertical {
    border: none;
    height: 100px;
    border-left: 2px solid #FFF7D1;
    width:1px;
    margin: 0 1400px;
    margin-top: 0px;
}

.barra_columna {
    margin-top: 350px;
    border: 3px, solid #FFF7D1;

}

.menuLateral {
    background-color: #1F1F1F;
    color: #FFF7D1;
    border-right: 3px solid #FFF7D1;
    width: 250px;
    margin-top: 0px;
}

.menuGran {
    display: flexbox;
    height: 100%;
    width: 100%;
}

.menu_item {
    display:inline-block;
    border-left: 1px solid #FFF7D1;
    border-bottom: 1px solid #FFF7D1;
    width: 200px;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 10px;
}

.menu_item3 {
    background: linear-gradient(to right, #A4A4A4,  #1F1F1F);
    border-left: 1px solid #FFF7D1;
    border-bottom: 1px solid #FFF7D1;
    width: 200px;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 10px;
    width: 195px;
}

#sintes {
    margin-top:5px;
    border-top: 1px solid #FFF7D1;
}

#empresa {
    margin-top: 5px;
    border-top: 1px solid #FFF7D1;
}

#musica {
    margin-top: 5px;
    border-top: 1px solid #FFF7D1;
}

#diseny {
    margin-top: 5px;
    border-top: 1px solid #FFF7D1;
}

#historia {
    margin-top: 5px;
    border-top: 1px solid #FFF7D1;
}

.contingut {
    display:flex;
    background: radial-gradient(circle at center, rgba(255, 247, 209, 0.2), #1F1F1F);
    height: 100%;
}

#sintes {
    color: #FFF7D1;
    text-decoration: none;
}


.articles {
    height: 700px;
    width: 1265px;
}

.art1{
    display: flex;
    border: 3px solid #FFF7D1;
    margin-top: 75px;
    margin-left: 75px;
    width: 1050px;
    height: 110px;
}

#im1 {
    margin-top: 0px;
    margin-left: 0px;
    width: 175px;
    height: 110px;
}

.textArticle {
    background: radial-gradient(circle at center, rgba(255, 247, 209, 0.2), #1F1F1F);
    border-left: 3px solid #FFF7D1;
    width: 872px;
    height: 110px;
}

#titolArt1 {
    margin-top: 10px;
    margin-left: 15px;
    width: 870px;
    height: 32px;
    color: #FFF7D1;
}

#iniciArticle {
    color: #FFF7D1;
    margin-top: 0px;
    margin-left: 15px;
    width: 870px;
    height: 50px;
}

.scrollView{
    overflow-y: auto;
    max-height: 600px;
}