<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
</head>
<body class="registroClass">
    <header class="headerDalt">@if(title){
        <h1 class="titol">{{title}}</h1>
        <div id="h1">
        </div>
    }</header>
    <div class="rayaInici">
    </div>
    <div class="contingut">
        <div class="letras"> 
            <h2 ID="titolR">Código de conducta:</h2>
            <p ID="txt1">&middot; Practica la empatía. Escucha y trata de entender lo que los wikimedistas de diferentes orígenes quieren decirte. Prepárate para cuestionar y ajustar tu propia comprensión, expectativas y comportamiento como wikimedista.</p>
            <p ID="txt2">&middot; Parte de la buena fe y participa en ediciones constructivas; tus contribuciones deben mejorar la calidad del proyecto o trabajo. Proporciona y recibe retroalimentación amable y de buena fe. Las críticas deben expresarse de manera sensible y constructiva. Todos los wikimedistas deben asumir, a menos que exista evidencia en contrario, que los demá</p>
            <p ID="txt3">&middot; Respeta la forma en que los colaboradores se nombran y describen. Las personas pueden utilizar términos específicos para describirse a sí mismas. Como muestra de respeto, utiliza estos términos al comunicarte con estas personas o al referirte a ellas, siempre que lingüística o técnicamente sea posible.</p>
            <p ID="txt4">&middot; Civismo es la cortesía en el comportamiento y el habla entre las personas, incluyendo a los desconocidos.</p>
            <p ID="txt5">&middot; Colegialidad es el apoyo amigable que las personas involucradas en un esfuerzo común se brindan mutuamente.</p>
            <p ID="txt6">&middot; Apoyo mutuo y buena ciudadanía implican asumir una responsabilidad activa para garantizar que los proyectos de Wikimedia sean espacios productivos, agradables y seguros, y contribuyan a la misión de Wikimedia.</p>
            <p ID="txt7">&middot; Abuso de cargo por parte de funcionarios, oficiales y personal: uso de la autoridad, conocimiento o recursos disponibles para los funcionarios designados, así como para los oficiales y el personal de la Fundación Wikimedia o sus afiliados, con el fin de intimidar o amenazar a otros.</p>
        </div>
    </div> 

    <footer>
        <div class="footer"> 
            <button type="button" class = "btnPri" onClick="">Política de privacidad</button>
            <button type="button" class = "btnAce" onClick="">Acerca de Sintedia</button>
            <button type="button" class = "btnCod" onClick="">Código de conducta</button>
            <img class="logoFot" src="" onClick="">
        </div>
    </footer>
</body>
<!--<div [ngClass]="condition ? 'green' : 'red'">Hola</div>-->
<router-outlet></router-outlet>


